/* accessibility.css */

.skip-link {
  background: #fff;
  padding: .5rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;

  z-index: 999;
}

.skip-link:focus {
  transform: translateY(10%);
}

@media (prefers-color-scheme: dark) {
  .skip-link {
    background: #212529;
  }
}

/* VISUALLY HIDDEN */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
