/* base.css */

code {
  background-color: #eee;
  border-radius: 4px;
  padding-inline: 4px;
  color: #666;
  /* color: #e2777a; */
}

h2 {
  scroll-margin-top: 5rem;
  /* whatever is a nice number that gets you past the header */
}

p {
  line-height: 1.3;
}

/* images */
img,
video {
  max-width: 100%;
  height: auto;
}

/* forms */
input, select, textarea {
  display: block;
  margin-bottom: 6px;
  padding: 6px;
}

input[type='checkbox'],
input[type='radio'] {
  display: initial;
}

textarea:not([cols]) {
  width: 100%;
}

label {
  display: inline-block;
  margin-bottom: 4px;
}
