/* base.css */
/* This file contains all of the classless CSS rules */

@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");

a {
  color: rgb(13, 110, 253);
}

a:hover {
  color: rgb(10, 88, 202);
}

code {
  background-color: #eee;
  border-radius: 4px;
  padding-inline: 4px;
  color: #666;
  /* color: #e2777a; */
}

h2, h3 {
  scroll-margin-top: 5rem;
  /* whatever is a nice number that gets you past the header */
}

p, ul, ol {
  line-height: 1.5;
}

ul, ol {
  padding-left: 24px;
}

/* images */
img,
video {
  max-width: 100%;
  height: auto;
}

/* forms */
input, select, textarea {
  display: block;
  margin-bottom: 6px;
  padding: 6px;
}

input, textarea {
  border-radius: 4px;
}

input[type='checkbox'],
input[type='radio'] {
  display: initial;
}

textarea:not([cols]) {
  width: 100%;
}

textarea {
  resize: vertical;
}

label {
  display: inline-block;
  margin-bottom: 4px;
}

/* from sanitize.css */
:where(button, input, textarea) {
  border: 1px solid WindowFrame;
}

/* tables */
table {
  border-collapse: collapse;
  caption-side: bottom;
}

td, th {
  border: solid 1px #aaa;
  padding: 12px;
}

caption {
  margin-top: 8px;
}
