/* base.css */
/* This file contains all of the classless CSS rules */

a {
  color: rgb(13, 110, 253);
}

a:hover {
  color: rgb(10, 88, 202);
}

code {
  background-color: #f1f3f5;
  border-radius: .25rem;
  padding-inline: .25rem;
  color: #666;
  /* color: #e2777a; */
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  /* font-size: 1.625rem; */
  /* font-size: 1.75rem; */
  /* font-size: 1.875rem; */
}

p, ul, ol {
  line-height: 1.5;
}

ul, ol {
  padding-left: 1rem;
}

.lead {
  font-size: 1.25rem;
}

/* images */
img,
video {
  max-width: 100%;
  height: auto;
}

/* details + summary */
details {
  border: solid 1px #666;
  /* border-radius: .25rem; */
  padding: .5rem;
  margin-top: .5rem;
}

summary {
  cursor: pointer;
  margin-bottom: .5rem;
}

/* forms */
input, select, textarea {
  display: block;
  margin-bottom: .5rem;
  padding: .375rem;
  /* border-width: 2px; */
}

input, textarea {
  border-color: #dee2e6;
  /* border-radius: .25rem; */
}

input[type='checkbox'],
input[type='radio'] {
  display: initial;
}

input:disabled, textarea:disabled {
  background-color: #e9ecef;
}

textarea:not([cols]) {
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 2rem;
}

label {
  display: inline-block;
  margin-bottom: .25rem;
}

/* from sanitize.css */
:where(button, input, textarea) {
  border: 1px solid WindowFrame;
}

/* tables */
table {
  border-collapse: collapse;
  caption-side: bottom;
}

td, th {
  border: solid 1px rgb(222, 226, 230);
  padding: .75rem;
}

caption {
  margin-top: .5rem;
}
