/* buttons.css */

/* BUTTON */
.button,
.button-floating,
button,
[type="button"],
[type="submit"],
[type="reset"] {
  background-color: #eee;
  border: solid 2px #eee;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 6px;
  padding: 8px;
  text-decoration: none;
}

.button:hover,
.button-floating:hover,
button:hover,
[type="button"]:hover,
[type="submit"]:hover,
[type="reset"]:hover {
  background-color: #ddd;
  border-color: #ddd;
  color: #000;
}

/* BUTTON OUTLINE */
.button-outline {
  background-color: transparent;
  border: solid 2px #eee;
  border-radius: 4px;
  color: #000;
  display: inline-block;
  margin-bottom: 6px;
  padding: 8px;
  text-decoration: none;
}

.button-outline:hover {
  background-color: #eee;
  border-color: #eee;
  color: #000;
}

/* FLOATING BUTTON */
.button-floating {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 11;
  background-color: #ddd;
  border-color: #ddd;
}

.button-floating:hover {
  background-color: #ccc;
  border-color: #ccc;
}
