/* buttons.css */

/* BUTTON */
.button,
.button-floating,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #eee;
  border: solid 2px #eee;
  border-radius: 4px;
  color: #000;
  display: inline-block;
  margin-bottom: 6px;
  padding: 8px;
  text-decoration: none;
}

.button:hover,
.button-floating:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #ddd;
  border-color: #ddd;
}

/* BUTTON OUTLINE */
.button-outline {
  border: solid 2px #eee;
  border-radius: 4px;
  color: #000;
  display: inline-block;
  margin-bottom: 6px;
  padding: 8px;
  text-decoration: none;
}

.button-outline:hover {
  background-color: #eee;
  /* border-color: #ddd; */
  color: #000;
}

/* FLOATING BUTTON */
.button-floating {
  position: fixed;
  bottom: 12px;
  right: 12px;
}
