/* buttons.css */

/* BUTTON */
.button,
.button-floating,
button {
  background-color: #f1f3f5;
  border: solid 1px #f1f3f5;
  /* border-radius: .375rem; */
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: .375rem;
  padding: .375rem .75rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button:hover,
.button-floating:hover,
button:hover {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: #000;
}

/* BUTTON OUTLINE */
.button-outline {
  background-color: transparent;
  border: solid 1px #dee2e6;
  /* border-radius: .375rem; */
  color: #000;
  display: inline-block;
  line-height: 1.5;
  margin-bottom: .375rem;
  padding: .375rem .75rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-outline:hover {
  background-color: #f1f3f5;
  border-color: #f1f3f5;
  color: #000;
}

/* FLOATING BUTTON */
.button-floating {
  position: fixed;
  bottom: .75rem;
  right: .75rem;
  z-index: 11;
  background-color: #dee2e6;
  border-color: #dee2e6;
}

.button-floating:hover {
  background-color: #ced4da;
  border-color: #ced4da;
}

.large {
  padding-block: .5rem;
  padding-inline: 1rem;
  font-size: 1.25rem;
}

.link {
  background-color: transparent;
  border: 0;
  color: rgb(13, 110, 253);
  text-decoration: underline;
}

.link:hover {
  background-color: transparent;
  color: rgb(10, 88, 202);
}
