/* code.css */

.code {
  background-color: #2b3035;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
}

.code code {
  background-color: inherit;
  color: #fff;
}

.bash::before {
  content: '$ ';
}

.zsh::before {
  content: '% ';
}
