/* code.css */

.code {
  background-color: #2b3035;
  border-radius: .25rem;
  color: #fff;
  line-height: 1.5;
  overflow-x: auto;
  padding: .75rem;
}

.code code {
  background-color: inherit;
  color: #fff;
}

.bash::before {
  content: '$ ';
}

.zsh::before {
  content: '% ';
}
