/* code.css */

pre > code {
  padding-inline: 0;
}

.code {
  background-color: #e9ecef;
  color: #000;
  line-height: 1.5;
  overflow-x: auto;
  padding: .75rem;
  border-radius: var(--big-element-radius);
}

.code code {
  background-color: inherit;
  color: #000;
}

.bash::before {
  content: '$ ';
}

.zsh::before {
  content: '% ';
}

.dark {
  background-color: #212529;
  color: #fff;
}

.dark code {
  color: #fff;
}
