/* container.css */

/* CONTAINER */
.container {
  padding: 0 12px;
  max-width: 960px;
  margin: auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.background {
  background-color: #e9ecef;
}
