/* container.css */

.container {
  padding: 0 .75rem;
  max-width: 960px;
  margin: 0 auto;
}

.section {
  padding-block: 2.5rem;
}

.background {
  background-color: #e9ecef;
}

.bottom-banner {
  position: sticky;
  bottom: 0;
  background-color: #f1f1f1;
  text-align: center;
  padding: 2px;
}
