/* container.css */

/* CONTAINER */
.container {
  padding: 0 .75rem;
  max-width: 960px;
  margin: auto;
}

.section {
  padding-block: 2.5rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.background {
  background-color: #e9ecef;
}
