/* footer.css */

.footer {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse; */
  text-align: center;
  padding: .75rem;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.footer-links a {
  color: #555;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
