/* layout.css */

.section {
  padding-block: 2.5rem;
}

.background {
  background-color: #e9ecef;
}

.bottom-banner {
  position: sticky;
  bottom: 0;
  background-color: #f1f1f1;
  text-align: center;
  padding: 2px;
}
