/* navbar.css */

/* NAVBAR MESSAGE */
/* A message that goes above the navbar */
.navbar-message {
  background-color: #dee2e6;
  padding-block: .25rem;
  text-align: center;
}

/* NAVBAR-SIMPLE */
.navbar-simple {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  line-height: 1.5;
  padding-block: .625rem;
  padding-inline: .25rem;
  align-items: center;
}

.navbar-simple a {
  color: #000;
  text-decoration: none;
  padding: 1rem;
}

.navbar-simple a:first-child {
  margin-right: auto;
  font-weight: bold;
  padding-left: .5rem;
}

.navbar-simple a:last-child {
  padding-right: .5rem;
}

.navbar-simple .button {
  border: 0;
  background-color: #495057;
  color: #fff;
  padding: .5rem;
  margin-bottom: 0;
  margin-right: .5rem;
}



/* NAVBAR */
/* for the navbar */
.navbar {
  padding-block: .625rem;
  padding-inline: .5rem;
}

/* for the brand-menu bar on mobile */
.navbar-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

/* for the navbar brand */
.navbar .navbar-brand {
  font-weight: bold;
  padding-left: .25rem;
}

/* for the navbar menu button */
.navbar-menu {
  border: solid 1px #dee2e6;
  background-color: initial;
  margin-bottom: 0;
  margin-right: .25rem;
}

/* for the navbar links */
.navbar-links {
  display: none;
  list-style: none;
  padding-left: 0;
  text-align: left;
  margin-block: 0;
}

/* default link properties */
.navbar a {
  color: #000;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

/* link color */
.navbar li a {
  color: #555;
}

/* link hover color */
.navbar li a:hover {
  /* background-color: #ddd; */
  color: #000;
}

/* align brand and links on mobile */
.navbar li a:not(.button, .button-outline) {
  padding-left: .25rem;
}

.navbar .button {
  background-color: #495057;
  border: 0;
  color: #fff;
  display: inline-block;
  margin-top: .5rem;
  margin-bottom: 0;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: .5rem;
}

.navbar .button-outline {
  border-color: #dee2e6;
  display: inline-block;
  margin-top: .5rem;
  margin-bottom: 0;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: .375rem;
  padding-inline: .375rem;
}

.navbar .button:hover {
  background-color: #343a40;
  color: #fff;
}

/* active class for links */
.navbar .active {
  color: #000;
}

/* for navbar.js */
ul.block {
  display: block;
}



/* BREAKPOINT */
@media screen and (min-width: 768px) {
  /* put navbar in row */
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  /* put navbar links in row */
  .navbar ul {
    display: flex;
    margin-block: 0;
    align-items: center;
  }

  /* hide menu button */
  .navbar button {
    display: none;
  }

  .navbar .button, .navbar .button-outline {
    margin-inline: .5rem;
    margin-top: 0;
  }

  .navbar li a:not(.button, .button-outline) {
    padding-left: 1rem;
  }

  .navbar li:last-child a:not(.button, .button-outline) {
    padding-right: .25rem;
    margin-top: 0;
  }
}
