/* navbar.css */

/* NAVBAR MESSAGE */
/* A message that goes above the navbar */
.navbar-message {
  padding-block: 4px;
  text-align: center;
  background-color: #ddd;
}

/* NAVBAR */
/* for the navbar */
.navbar {
  background-color: #eee;
  padding-top: 12px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 11;
}

/* for the navbar on mobile */
.navbar div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* for the navbar brand */
.navbar div a {
  font-weight: bold;
  margin: 8px;
}

/* for the navbar links */
.navbar ul {
  list-style: none;
  display: none;
  text-align: left;
  padding-left: 0;
}

.navbar li {
  margin: 8px;
}

.navbar a {
  text-decoration: none;
  padding: 8px;
  display: block;
  color: #333;
}

.navbar li a:hover {
  background-color: #ddd;
}

/* for the navbar menu button */
.navbar button {
  margin-right: 8px;
}

/* for navbar.js */
ul.block {
  display: block;
}

/* for the navbar on bigger screens */
@media screen and (min-width: 768px) {
  .navbar ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar button {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
}
