/* buttons.css */

/* BUTTON */
.button,
.button-floating,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #eee;
  border: solid 2px #eee;
  border-radius: 4px;
  color: #000;
  padding: 8px;
  text-decoration: none;
}

.button:hover,
.button-floating:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #ddd;
  border-color: #ddd;
}

/* FLOATING BUTTON */
.button-floating {
  position: fixed;
  bottom: 12px;
  right: 12px;
}
/* container.css */

/* CONTAINER */
.container {
  padding: 0 10px;
  max-width: 900px;
  margin: auto;
}
/* navbar.css */

/* NAVBAR MESSAGE */
.navbar-message {
  /* padding-left: 8px; */
  padding-block: 4px;
  text-align: center;
  background-color: #ddd;
}

/* NAVBAR */
.navbar {
  background-color: #eee;
  padding-top: 12px;
  padding-bottom: 10px;
  z-index: 11;
}

.navbar div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar div a {
  margin: 8px;
}

.navbar ul {
  list-style: none;
  display: none;
  text-align: left;
  padding-left: 0;
}

.navbar li {
  margin: 8px;
}

.navbar a {
  text-decoration: none;
  padding: 8px;
  display: block;
  color: #333;
}

.navbar li a:hover {
  background-color: #ddd;
}

.navbar button {
  margin-right: 8px;
}

/* for navbar.js */
ul.block {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar button {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
}

/* NAVBAR POWER UPS */

.navbar {
  position: sticky;
  top: 0;
}
