/* utilities.css */

/* text-transform */
.uppercase { text-transform: uppercase !important; }
.lowercase { text-transform: lowercase !important; }
.capitalize { text-transform: capitalize !important; }
.nocase { text-transform: none !important; }

/* font-style */
.italic { font-style: italic !important; }
.not-italic { font-style: normal !important; }

/* font-weight */
.bold { font-weight: bold !important; }
.bolder { font-weight: bolder !important; }
.lighter { font-weight: lighter !important; }
.not-bold { font-weight: normal !important; }

/* text-align */
.text-center { text-align: center !important; }
.text-start { text-align: start !important; }
.text-end { text-align: end !important; }

.highlight { background-color: #e9ecef !important; }
.grayscale { filter: grayscale(100%) !important; }
