/* navbar.css */

/* for the navbar */
.navbar {
  padding-block: .625rem;
  padding-inline: .5rem;
}

/* for the brand-menu bar on mobile */
.navbar-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

/* for the navbar brand */
.navbar .navbar-brand {
  font-weight: bold;
  padding-left: .25rem;
}

/* for the navbar menu button */
.navbar-menu {
  border: solid 1px var(--button-outline-border-color);
  color: var(--button-outline-color);
  background-color: initial;
  margin-right: .25rem;
}

.navbar-menu:hover {
  background-color: var(--button-outline-bg-hover);
  border: solid 1px var(--button-outline-border-color-hover);
  color: var(--button-outline-color-hover);
}

/* for the navbar links */
.navbar-links {
  display: none;
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

/* default link properties */
.navbar a {
  color: #000;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

/* link color */
.navbar li a {
  color: #555;
}

/* link hover color */
.navbar li a:hover {
  color: #000;
}

/* align brand and links on mobile */
.navbar li a:not(.button, .button-outline) {
  padding-left: .25rem;
}

.navbar .button {
  color: var(--button-color);
  display: inline-block;
  margin-top: .5rem;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: .375rem .5rem;
}

.navbar .button:hover {
  color: var(--button-color-hover);
}

.navbar .button-outline {
  display: inline-block;
  margin-top: .5rem;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: .375rem;
  padding-inline: .375rem;
}

/* active class for links */
.navbar .active {
  color: #000;
}

/* for navbar.js */
ul.block {
  display: block;
}



/* BREAKPOINT */
@media screen and (min-width: 768px) {
  /* put navbar in row */
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  /* put navbar links in row */
  .navbar .navbar-links {
    display: flex;
    margin-block: 0;
    align-items: center;
  }

  /* hide menu button */
  .navbar .navbar-menu {
    display: none;
  }

  .navbar .button, .navbar .button-outline {
    margin-inline: .5rem;
    margin-top: 0;
  }

  .navbar li:last-child .button, .navbar li:last-child .button-outline {
    margin-right: .25rem;
  }
  .navbar li a:not(.button, .button-outline) {
    padding-left: 1rem;
  }

  .navbar li:last-child a:not(.button, .button-outline) {
    padding-right: .25rem;
    margin-top: 0;
  }
}
