/* custom.css */
/* This CSS code is just for the docs site */

h2 {
  margin-top: 50px;
}

.footer {
  margin-top: 50px;
}

code[class*="language-"] {
  padding-inline: 0;
}

@media (prefers-color-scheme: dark) {
  :not(pre)>code[class*="language-"], pre[class*="language-"] {
    background-color: #2b3035;
  }
}
