/* custom.css */
/* This CSS code is just for the docs site */

h2 {
  margin-top: 50px;
}

.footer {
  margin-top: 50px;
}

code[class*="language-"] {
  padding-inline: 0;
}

/* Grid showcase container */
.grid-container {
  margin: auto;
  margin-bottom: 16px;
}

.grid > div {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #111; */
}

@media (prefers-color-scheme: dark) {
  :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #2b3035;
  }
}

/* .navbar, .hero {
  background-color: darkseagreen;
  border-color: aliceblue;
  color: white;
}

.button {
  background-color: white;
  border-color: white;
} */

body {
  /* font-family: 'Roboto', sans-serif; */
}
