/* custom.css */
/* This CSS code is just for the docs site */

/* STICKY NAVBAR */
.navbar {
  position: sticky;
  top: 0px;
  z-index: 11;
  background-color: #fff;
  border-bottom: solid 1px #0f172a1a;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    /* background-color: var(--darkest-bg); */
  }
}

h2, h3 {
  /* whatever is a nice number that gets you past the header */
  scroll-margin-top: 5rem;
}



/* SPACING */
h2 {
  margin-top: 50px;
}

.footer {
  margin-top: 50px;
}



/* PRISM.JS */
code[class*="language-"] {
  padding-inline: 0;
  /* margin-top: 120px !important; */
}

pre[class*="language-"] {
  /* padding-inline: 0; */
  /* margin-top: 20px; */
}



/* GRID SHOWCASE CONTAINER */
.grid-container {
  margin-bottom: 16px;
}

.grid > div {
  /* border-radius: 4px; */
  border: 1px solid #111;
}



/* DARK */
@media (prefers-color-scheme: dark) {
  .grid > div {
    border-color: #fff;
    color: #fff;
  }

  :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #2b3035;
  }
}

/* OTHER */
/* .footer-links img {
  width: 24px;
  height: 24px;
  color: #555;
} */
