/* custom.css */
/* This CSS code is just for the docs site */

/* STICKY NAVBAR */
.navbar {
  position: sticky;
  top: 0px;
  z-index: 11;
  background-color: #fff;
  border-bottom: solid 1px #0f172a1a;
}

html {
  scroll-padding-top: 5rem;
}

/* SPACING */
h2 {
  margin-top: 50px;
}

.footer {
  margin-top: 50px;
}



/* PRISM.JS */
code[class*="language-"] {
  padding-inline: 0;
  /* margin-top: 120px !important; */
}

/* GRID SHOWCASE CONTAINER */
.grid-container {
  margin-bottom: 16px;
}

.grid > div {
  border: 1px solid #111;
}

/* DARK */
@media (prefers-color-scheme: dark) {
  .grid > div {
    border-color: #fff;
    color: #fff;
  }

  :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #2b3035;
  }

  .navbar {
    background-color: var(--darkest-bg);
  }
}

/* OTHER */
/* .footer-links img {
  width: 24px;
  height: 24px;
  color: #555;
} */

/* .button,
.button-floating,
.button-outline,
button,
.code,
input,
textarea,
details {
  border-radius: .375rem;
} */
