/* base.css */
/* This file contains all of the classless CSS rules */

:root {
  --scroll-behavior: auto;
  --container-width: 960px;
  --button-bg: #f1f3f5;
  --button-bg-hover: #e9ecef;
  --button-border-color: #dee2e6;
  --element-radius: .375rem;
  --big-element-radius: .375rem;
  --link-color: #0d6efd;
  --link-color-hover: #0a58ca;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

code {
  background-color: #f1f3f5;
  border-radius: .25rem;
  padding-inline: .25rem;
  color: #666;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, ul, ol {
  line-height: 1.5;
}

ul, ol {
  padding-left: 1rem;
}

.lead {
  font-size: 1.25rem;
}

/* images */
img,
video {
  max-width: 100%;
  height: auto;
}

/* details + summary */
details {
  border: solid #aaa 1px;
  border-radius: var(--big-element-radius);
  padding: 1rem .5rem;
  margin-top: .5rem;
}

details > *:last-child {
  margin-bottom: 0;
}

summary {
  cursor: pointer;
}

details[open] summary {
  margin-bottom: .5rem;
}

blockquote {
  margin-left: 0;
}

.blockquote {
  border-left: solid #e9ecef 4px;
  padding-left: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: var(--scroll-behavior);
  }
}
