/* forms.css */

input, select, textarea {
  display: block;
  margin-bottom: .5rem;
  padding: .375rem .75rem;
}

input, textarea {
  line-height: 1.5;
}

input {
  border-radius: var(--element-radius);
}

input[type='checkbox'],
input[type='radio'] {
  display: initial;
}

input:disabled, textarea:disabled {
  background-color: #e9ecef;
}

textarea:not([cols]) {
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 2rem;
  border-radius: var(--big-element-radius);
}

label {
  display: inline-block;
  margin-bottom: .25rem;
}

/* from sanitize.css */
:where(button, input, textarea) {
  border: 1px solid #aaa;
}

input[type="file"] {
  border: 0;
  padding: .375rem 0;
}

input[type="file"]:disabled {
  background-color: transparent;
}
