/* button.css */

.button,
button {
  background-color: var(--button-bg);
  border: solid 1px var(--button-bg);
  border-radius: var(--element-radius);
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button:hover,
button:hover {
  background-color: var(--button-bg-hover);
  border-color: var(--button-bg-hover);
  color: #000;
}

button:disabled {
  opacity: .65;
  pointer-events: none;
}
