/* button-outline.css */

.button-outline {
  background-color: var(--button-outline-bg);
  border: solid 1px var(--button-outline-border-color);
  border-radius: var(--element-radius);
  color: var(--button-outline-color);
  display: inline-block;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-outline:hover {
  background-color: var(--button-outline-bg-hover);
  border-color: var(--button-outline-border-color-hover);
  color: var(--button-outline-color-hover);
}
