/* button-mods.css */

/* FLOATING BUTTON */
.floating {
  position: fixed;
  bottom: .75rem;
  right: .75rem;
  z-index: 11;
  background-color: #dee2e6;
  border-color: #dee2e6;
}

.floating:hover {
  background-color: #ced4da;
  border-color: #ced4da;
}

/* LARGE */
.large {
  padding-block: .5rem;
  padding-inline: 1rem;
  font-size: 1.25rem;
}

/* LINK */
.link {
  background-color: transparent;
  border: 0;
  color: var(--link-color);
  text-decoration: underline;
}

.link:hover {
  background-color: transparent;
  color: var(--link-color-hover);
}
